.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-items-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  

  .contact-item {
    width: 300px;
    height: 400px;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-item:hover {
    transform: scale(1.05);
  }
  
  .contact-item__link {
    text-decoration: none;
    color: #333;
  }
  
  .contact-item__pic-wrap {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    height: 60%;
  }
  
  .contact-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-item__info {
    padding: 10px;
  }
  
  .contact-item__text {
    margin-bottom: 10px;
  }
  
  .contact-item p {
    color: #666;
    margin: 5px 0;
  }
  

  @media screen and (max-width: 768px) {
    .contact-items-container {
      flex-direction: column;
      align-items: center;
    }
  

    .contact-item {
      width: 90%;
    }
  }
  
